[submodule "pmoves_multi_agent_pro_pack/memory_shim/pmoves_cipher"]
	path = pmoves_multi_agent_pro_pack/memory_shim/pmoves_cipher
	url = https://github.com/POWERFULMOVES/Pmoves-cipher.git
[submodule "pmoves_multi_agent_pro_pack/docling"]
	path = pmoves_multi_agent_pro_pack/docling
	url = https://github.com/POWERFULMOVES/docling.git
